body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

.titulo {
    color: #ffffff;
}

/* Estilo do formulário */
#payment-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 43px;
}

/* Estilização dos campos de entrada */
label {
    display: block;
    margin-top: 10px;
    color: #333;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilização do botão de pagamento */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

/* Estilização dos campos de informações do cartão */
#info_cartao, #info_debito {
    display: none;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
}

/* Estilização dos radio buttons */
input[type="radio"] {
    margin-right: 10px;
}